/* Import */
@import './base.css';

@media (min-width: 1024px) {
  body {
    margin-top: 0px;
    display: block;
    place-items: left;
  }

  .padding-components {
    padding: 0 8rem;
  }
}

@media (max-width: 1024px) {
  .padding-components {
    padding: 0 2rem;
  }
}

/* Font Styles */

/* Hero */
.hero {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.hero2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

/* Headline Font */
.headlineb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}

/* Header Fonts */
.headerb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.headersb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.headerb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
.headerr2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

.headerb3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.headersb3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Body Fonts */
.bodyb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.bodyr2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.bodym2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.bodyr3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.bodym3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.bodyr4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

/* Button Fonts */
.buttonb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
}