/* Import */
@import './base.css';

@media (min-width: 1024px) {
  body {
    margin-top: 0px;
    display: block;
    place-items: left;
    height: fit-content;
  }

  .padding-components {
    padding: 0 8rem;
  }
}

@media (max-width: 1024px) {
  .padding-components {
    padding: 0 2rem;
  }
}

/* Tag-Grade */
.grade-sd {
  background-color: #DEE4EE;
  color: #EC3437;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  white-space: nowrap;
}
.grade-smp {
  background-color: #DEE4EE;
  color: #113A72;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  white-space: nowrap;
}
.grade-sma {
  background-color: #DEE4EE;
  color: #617592;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  white-space: nowrap;
}

/* Font Styles */

/* Hero */
.hero {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.hero2 {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

/* Headline Font */
.headlineb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
}
.headlinesb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.headlinesb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

/* Header Fonts */
.headerb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.headersb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.headerb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.headersb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.headerr2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
}

.headerb3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.headersb3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.headerr3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/* Body Fonts */
.bodysb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.bodyr1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.bodyb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.bodyb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.bodyr2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.bodym2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.bodyb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.bodyr3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.bodym3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.bodyb3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bodym4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.bodyr4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

/* Button Fonts */
.buttonm1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.buttonb1 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.buttonm2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.buttonb2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.buttonm3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.buttonr3 {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.buttonm4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.buttonr4 {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: normal;
}